---
# tasks file for podman

- name: Import assert.yml
  ansible.builtin.import_tasks:
    file: assert.yml
  run_once: true
  delegate_to: localhost

- name: Install podman
  ansible.builtin.package:
    name: "{{ podman_packages }}"
    state: present

- name: Configure storage
  community.general.ini_file:
    path: "{{ podman_configuration_files.storage }}"
    section: "{{ item.section }}"
    option: "{{ item.option }}"
    value: '"{{ item.value }}"'
    mode: "0644"
  when:
    - podman_storage is defined
  loop: "{{ podman_storage }}"
  loop_control:
    label: "{{ item.option }}"
  notify:
    - Restart podman

- name: Start podman
  ansible.builtin.service:
    name: "{{ podman_service }}"
    state: started
    enabled: true
  become: true
  become_user: "{{ podman_user }}"
  when:
    - podman_user | length > 0
